body{
    background: #dddddd;
}
@media all and (min-width:550px){
    .dashboard-content{
        border: 2px solid #a1a1a1;
        padding: 5%;
        background-color:white;
        border-radius: 10%;
        height:20%;
        width:auto;
        display:inline-flex;
        flex-flow:row;
        margin:2%;
        box-shadow: 10px 10px 5px #888888;

    }
}

@media all and (max-width:550px){
    .dashboard-content{
        border: 2px solid #a1a1a1;
        padding: 10%;
        margin-bottom: 2%;
        background-color:white;
        border-radius: 10%;
        height:10%;
        width:40%;
        display:inline-flex;
        flex-flow: column;
        margin:4%;
        box-shadow: 10px 10px 5px #888888;

    }
}

@media all and (min-width:500px){
 .dashboard-content a{
        text-transform: uppercase;
        text-decoration: none;
    }
    }
@media all and (max-width:500px){
    .dashboard-content a{
        font-size:1em;
        text-transform: uppercase;
        text-decoration: none;
    }
}
.dash-image{
    height:75%;
    width:100%;
}
.dash-title{
    margin-top:10%;
    font-family:cursive;
    text-align:center;
}
.dashboard-content .dash-image img {
    align-content: center;
    position:relative;
    height:100%;
    width:100%;
}

div.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    background-color:black;
   /* border: 5px outset #dddddd;*/
    text-transform: uppercase;
}

@media all and (max-width:500px){
    div.nav-bar{
        flex-direction: column;
    }
}
@media all and (min-width:500px){
    .nav-bar a{
        padding:1.5%;
        text-align:center;
        border-right: 2px solid white;
        font-weight: bold;
        color:#D4001C;
        align-items: center;
        flex-wrap:wrap;
        flex-grow:1;
        text-decoration: none;
        
    }
    .nav-bar a:hover{
        color:white;
        background-color:#D4001C;
        position:relative;
    }
    
    .nav-bar a:

}

@media all and (max-width:500px){
    .nav-bar a{
        padding:1.5%;
        text-align:center;
        border:none;
        font-weight: bold;
        color:#D4001C;
        align-items: center;
        flex-wrap:wrap;
        flex-grow:1;
        text-decoration: none;
    }
}

div.class-list {
    width:100%;
}
.class-list .class-add {
    width:;100%;
    margin;10%;
    position:fixed;
    padding:5%;
    background-color: #D4001C;
    color: #ffffff;
    font-size: 2em;
}

.class-list .class-add input[type=text] {
    padding: 2%;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
}
.title-bar{
    position:relative;
    display:flex;
    height:100px;
    background-color:#D4001C;
    text-transform: uppercase;
    font-family:cursive;
    font-weight: bolder;
    color:white;
    padding-left:45%;
}
.title-bar h1{
    position:relative;
    margin-top:4%;
}
h1{
    font-size:30px;
}