<!doctype html>
<html ng-app="cubicApp">
    <head>
        <link href="/style/reset.css" rel="stylesheet">
        <link href="/style/style.css" rel="stylesheet" >
        <title>Cubic Technologies</title>
        <base href="/">
    </head>
    <body ng-controller="MainCtrl">
        <nav-bar></nav-bar>
        <div class="main-container">
            <div ng-view></div>
        </div>
        
        
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/scripts/cubic.js"></script>
        <script type="text/javascript" src="/scripts/controllers/MainCtrl.js"></script>
        <script type="text/javascript" src="/scripts/controllers/ClassCtrl.js"></script>
        <script type="text/javascript" src="/scripts/controllers/ClassListCtrl.js"></script>
        <script type="text/javascript" src="/scripts/services/navBarService.js"></script>
        <script type="text/javascript" src="/scripts/directives/nav-bar.js"></script>
        <script type="text/javascript" src="/scripts/directives/dashboard-content.js"></script>
        
    </body>
</html>