<div class="container-main">
    <div class="container-head">
        Class List
        <input type="text" ng-model="searchText" placeholder="search...">
<!--            Class Title : <input type="text" ng-model="classModel.classTitle" placeholder="Enter new class">
        
            <button ng-click="addClass()" class="btn btn-primary">Add</button>  -->  
        
        
    </div>

    <!--Code below should be rendered as a grid system-->
    <div class="container-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th colspan='2'>
                        Class Title : <input type="text" ng-model="classModel.classTitle" placeholder="Enter new class">
                        <button ng-click="addClass()">Add</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        Toggle Status
                    </th>
                    <th> Classes </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="class in classes|filter:searchText">
                    <td>{{class.title}}</td>
                    <td>active btn goes here</td>
                </tr>
            </tbody>
            <tbody>
            </tbody>
        </table>
        <!--<div class="list-header">
            <span class="left-col">
                Class List
            </span>
            <span class="right-col">
                <input type="text" ng-model="searchText" placeholder="search...">
            </span>
        </div>
        
        <div class="list-body" ng-repeat="class in classes|filter:searchText">
            <span class="left-col">{{class.title}}</span>
            <span class="right-col">Edit / Remove</span>
        </div>-->

    </div>
</div>
