<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employeesInfo">
            <td></td>
            <td>{{employee.lastName}}, {{employee.firstName}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.role}}</td>
        </tr>
    </tbody>
</table>