<table class="table">
    <caption>
       <h4>Employee List</h4>
        <span class="search">
           <input type="text" placeholder="Search" ng-model="employee.search">
        </span>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in employeesInfo|filter:employee.search">
            <td></td>
            <td>{{person.lastName}}, {{person.firstName}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.email}}</td>
            <td>{{person.role}}</td>
        </tr>
    </tbody>
</table>